
<div class="details-container">
    <div *ngIf="!appointment" class="hint-text">
        <span>
            Select an appointment
        </span>
    </div>
    <div fxLayout="column" *ngIf="appointment">
        <div fxFlex>
            <form name="appointmentForm" [formGroup]="appointmentForm"> 
                <div class="form-group">
                  <input type="text"
                        class="form-control"
                        placeholder="Title"
                        formControlName="title">
                </div>
                <date-time-input formControlName="start"></date-time-input>
                <date-time-input formControlName="end"></date-time-input>
                <div class="form-group">
                    <textarea class="form-control"
                        rows="3"
                        formControlName="description"
                        placeholder="Description">
                    </textarea>
                </div>
                <button type="submit" 
                    class="btn btn-primary"
                    [disabled]="appointmentForm.invalid"
                    (click)="saveAppointment()">Save</button>
                <button *ngIf="editMode" type="button"
                    class="btn btn-danger"
                    (click)="deleteAppointment()">Delete</button>
            </form>
        </div>
        
    </div>
</div>