
<div class="details-container">
    <div *ngIf="!appointment" class="hint-text">
        <span>
            Select an appointment
        </span>
    </div>
    <div *ngIf="appointment">
        <form name="appointmentForm" [formGroup]="appointmentForm">
            <div fxLayout="row" fxLayoutGap="5px">
                <div class="form-group">
                    <label for="appointmentStart">From</label>
                    <input id="appointmentStart" class="form-control" formControlName="appointmentStart" readonly>
                </div>
                <div class="form-group">
                    <label for="appointmentEnd">To</label>
                    <input id="appointmentEnd" class="form-control" formControlName="appointmentEnd" readonly>
                </div>
            </div> 
            <div class="form-group">
              <input type="text"
                    class="form-control"
                    placeholder="Subject"
                    formControlName="subject">
            </div>
            <div class="form-group">
                <textarea class="form-control"
                    rows="3"
                    formControlName="description"
                    placeholder="Description">
                </textarea>
            </div>
            <button type="submit" 
                class="btn btn-primary"
                [disabled]="appointmentForm.invalid"
                (click)="saveAppointment()">Save</button>
        </form>
    </div>
</div>