
<div class="details-container">
    <div *ngIf="!appointment" class="hint-text">
        <span>
            {{'scheduler.hint.noAppointment' | translate}}
        </span>
    </div>
    <div fxLayout="column" *ngIf="appointment">
        <div fxFlex>
            <form name="appointmentForm" [formGroup]="appointmentForm"> 
                <div class="form-group">
                  <input type="text"
                        class="form-control"
                        placeholder="{{ 'scheduler.appointmentDetails.title' | translate}}"
                        formControlName="title">
                </div>
                <date-time-input formControlName="start"></date-time-input>
                <date-time-input formControlName="end"></date-time-input>
                <div class="form-group">
                    <textarea class="form-control"
                        rows="3"
                        formControlName="description"
                        placeholder="{{ 'scheduler.appointmentDetails.description' | translate}}">
                    </textarea>
                </div>
                <button type="submit" 
                    class="btn btn-primary"
                    [disabled]="appointmentForm.invalid"
                    (click)="saveAppointment()">{{ 'scheduler.appointmentDetails.save' | translate}}</button>
                <button *ngIf="editMode$ | async" type="button"
                    class="btn btn-danger"
                    (click)="deleteAppointment()">{{ 'scheduler.appointmentDetails.delete' | translate}}</button>
            </form>
        </div>
        
    </div>
</div>