<div fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="15px"
    fxFlex>
      <div fxLayout="row">
        <generic-autocomplete 
            [placeholder]="'Search for a doctor'"
            [apiUrl]="'/api/users/filter'"
            [critera]="userCriteria"
            [fieldsToDisplay]="['firstName', 'lastName']"
            (itemSelected)="onDoctorSelected($event)"
            (itemCleared)="onDoctorCleared()">
        </generic-autocomplete>
        <button id="newAppointment" [disabled]="!this.selectedDoctor" class="btn btn-primary" (click)="onNewAppointment()">
          <fa-icon [icon]="'plus'"></fa-icon> <span>New Appointment</span>
        </button>
      </div>
    <div class="scheduler-wrapper" fxLayout="row" fxLayoutGap="10px"> 
      <div fxFlex="1 1 65%">
        <ng-container *ngIf="this.selectedDoctor">
          <full-calendar
            #calendar
            defaultView="dayGridMonth"
            [header]="calendarHeader"
            [plugins]="calendarPlugins"
            [weekends]="calendarWeekends"
            [events]="appointments$ | async"
            height="parent"
            [selectMirror]="false"
            [businessHours]="true"
            [slotDuration]="calendarSlotDuration"
            (eventResize)="handleEventClick($event)"
            (eventDrop)="handleEventClick($event)"
            (select)="handleEventClick($event)"
            (eventClick)="handleEventClick($event)"
            (datesRender)="onViewChange($event.view)"
            selectable="true"
            selectOverlap="false"
            selectMirror="true"
            editable="true"
            [eventOverlap]="false"
            unselectCancel=".details-container">
          </full-calendar>
        </ng-container>
        <div *ngIf="!this.selectedDoctor" class="hint-text">
          <span >Select a doctor</span>
        </div>
        
      </div>
      <div fxFlex="1 1 35%">
        <appointment-details></appointment-details>
      </div>
</div>