:host {
  .scheduler-wrapper {
    height: 700px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;

    .hide-calendar {
      display: none;
    }

    .spinner-wrapper {
      margin-top: 300px;
      text-align: center;

      .spinner-size {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  #newAppointment {
    margin-left: auto;
  }

  ::ng-deep .fc-highlight {
    background-color: #005ba1;
  }
}
