<div fxLayout="row" fxLayoutGap="10px">
    <input fxFlex="2 1 200px"
        id="searchInput"
        [formControl]="searchInput"
        type="text"
        class="form-control"
        placeholder="{{'userManagement.header.search' | translate}}"
        (keydown.enter)="onSearch()">  
    <button fxFlex="1 1" id="searchButton" class="btn btn-primary" (click)="onSearch()">
        <fa-icon [icon]="'search'"></fa-icon> <span>{{'userManagement.header.search' | translate}}</span>
    </button>
</div>
