<div class="form-group" fxLayout="row" fxLayoutGap="5px">
    <input fxFlex 
        class="form-control"
        ngbDatepicker
        #d="ngbDatepicker"
        [ngClass]="ngControl.valid ? 'ng-valid' : 'ng-invalid'"
        (click)="d.toggle()"
        [value]="formatDate(dateVal)"
        (dateSelect)="onDateSelect($event)"
        [startDate]="dateVal">
    <input fxFlex
        class="form-control"
        [(ngModel)]="timeVal"
        (blur)="inputBlur()"
        (input)="onTimeChange($event.target.value)"
        [disabled]="disabled"
        pattern="^([0-1][0-9]|[2][0-3]):([0-5][0-9])$">
</div>

<ng-template #times>
    <div>

    </div>
</ng-template>
