<div class="details-container">
    <div *ngIf="!selectedUser" class="hint-text">
        <span>Select a user</span>
    </div>
    <div fxLayout="column" *ngIf="selectedUser">
        <nav id="verySpecialNav" ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container [ngbNavItem]="1">
              <a ngbNavLink>General</a>
              <ng-template ngbNavContent>
                <form name="mainForm" [formGroup]="mainForm">
                    <div class="form-group">
                    <input type="text"
                          class="form-control"
                          placeholder="First Name"
                          formControlName="firstName">
                    </div>
                    <div class="form-group">
                        <input type="text"
                          class="form-control"
                          placeholder="Last Name"
                          formControlName="lastName">
                    </div>
                    <div class="form-group">
                        <input type="email"
                          class="form-control"
                          placeholder="Email"
                          formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="text"
                          class="form-control"
                          placeholder="Login"
                          formControlName="login">
                    </div>
                    <div class="form-group">
                        <ng-select
                            [items]="languages"
                            [closeOnSelect]="true"
                            placeholder="Select language"
                            formControlName="langKey">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <ng-select
                            [items]="authorities"
                            [multiple]="true"
                            placeholder="Select roles"
                            clearAllText="Clear"
                            formControlName="authorities">
                        </ng-select>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox"
                            class="form-check-input"
                            id="activated"
                            formControlName="activated">
                        <label class="form-check-label" for="activated">Activated</label>
                    </div>
                    <button type="submit" 
                        class="btn btn-primary"
                        [disabled]="this.mainForm.invalid || (this.additionalForm && this.additionalForm.invalid)"
                        (click)="onSaveUser()">Save</button>
                    <button *ngIf="editMode$ | async" type="button"
                        class="btn btn-danger"
                        (click)="onDeleteUser()">Delete</button>
                </form>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="isDoctor">
                <ng-container [ngbNavItem]="2">
                    <a ngbNavLink>Additional</a>
                    <ng-template ngbNavContent>
                      <form name="additionalForm" [formGroup]="additionalForm">
                        <div class="form-group">
                            <input type="text"
                              class="form-control"
                              placeholder="Title"
                              formControlName="title">
                        </div>
                        <div class="form-group">
                            <textarea type="text"
                              class="form-control"
                              placeholder="About"
                              formControlName="about"
                              rows="3">
                            </textarea>
                        </div>
                      </form>
                    </ng-template>
                  </ng-container>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
