  <ng-select 
    [items]="items$ | async"
    [loading]="searching"
    [loadingText]="loadingText"
    [notFoundText]="notFoundText"
    [placeholder]="placeholder"
    [typeahead]="searchInput$"
    [minTermLength]="0"
    (clear)="onClear()"
    (change)="onChange($event)"
    (focus)="onFocus($event)">
      <ng-template ng-label-tmp let-item="item">
        <span >{{ item.firstName + " " + item.lastName }}</span>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        {{item.firstName + " " + item.lastName}}
      </ng-template>
  </ng-select>