  <ng-select 
    [items]="items$ | async"
    [loading]="searching"
    [loadingText]="loadingText"
    [notFoundText]="notFoundText"
    [placeholder]="placeholder"
    [typeahead]="searchInput$"
    [minTermLength]="0"
    [disabled]="disabled"
    (clear)="onClear()"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    [(ngModel)]="model">
      <ng-template ng-label-tmp let-item="item">
        <ng-container [ngTemplateOutlet]="itemLabel" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <ng-container [ngTemplateOutlet]="itemLabel" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
      </ng-template>
  </ng-select>

  <ng-template #itemLabel let-item="$implicit">
    <ng-container *ngFor="let field of fieldsToDisplay">
      <span >{{ item[field] + " " }}</span>
    </ng-container>
  </ng-template>