:host {
  .list-wrapper {
    width: 100%;
    height: 640px;
    border: 1px solid #ccc;
    padding: 12px;
    align-content: flex-start;
    overflow: auto;
  }

  .spinner-wrapper {
    margin-top: 300px;
    text-align: center;

    .spinner-size {
      width: 4rem;
      height: 4rem;
    }
  }
}
