:host {
  .user-card {
    padding: 8px;
    border: 1px solid #ccc;
    width: 360px;
    height: 120px;
  }

  .user-image {
    width: 96px;
    height: 96px;
    border: 1px solid #ccc;
  }

  .user-data {
    height: 96px;
  }
}
